* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}



.navbar{
    .right-nav{
        a{
            color:black;
        }
    }
    .right-nav:hover{
        color: black;
    }
}


#banner {
    background-color: #2c92b4;

    .banner-item {
        padding-block: 170px;
        .bi{
            font-size: 120px;
            color: #0b5168;
            cursor: pointer;
        }
        .bi:hover{
            color: black;
        }
    }
}
/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .banner-item{
        padding-block:50px;
    }
}
/* landscape orientation */

#portfolio {
    padding-block: 100px;
}

#company {
    padding-block: 100px;
    background-color: #2c92b4;

    .icons {
        .item {
            display: inline-block;
            padding: 0px 10px;
            background-color: #187696;
            border-radius: 10px;
            cursor: pointer;
            i {
                color: white;
                font-size: 40px;
            }
        }
        .item:hover{
            background-color: #094357;

        }
    }
}


.accordion {
    background-color: #176781;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #187696;
  }
  
  .panel {
    padding: 0 18px;
  background-color: whitesmoke;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }


#contact{
    padding-block: 150px;

}